
@charset "UTF-8";


@font-face {
    font-family:'Font-logo' ;
    src: url('/_fonts/JosefinSans-Italic-VariableFont_wght.ttf');
    @font-face {
        font-family: fa;
        src: url(<link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Cinzel:wght@600&family=Edu+VIC+WA+NT+Beginner&family=Nabla&display=swap" rel="stylesheet">);
    }
}
body {
    background-image:   
    url("/_imagens/fundo-fogo.jpg");
    background-repeat: no-repeat no-repeat;
    background-position: right left;
    word-wrap: break-word;
    overflow-wrap: break-word;   
   }


h2{
    text-align:justify;
    text-indent: 50px;
}

div#interface {
    background-color:auto(100, 98, 109);
    margin: 10px auto 0px auto;
    padding: 10px;
    }     
    
div#tit {
    color: white;
    position: relative;
    display: block;
    top: 0px;
    left: 400px;
}

h1,h2,h3 {
    font-weight: 800;
    color: white;
}

div#img {
width: 100%;    
}

header#cabecalho {
    color: white;   
    }

    header#cabecalho h1 {
        top: 1000px;
        margin: 0 auto;
        }
   
    div#faixa {
        position: relative;
        list-style:none;
        margin-top: 0 auto;
        bottom: 0;
        width: 105%;
        margin-left: -15px;
        height: 25px;
        position: relative;
        border-top: 13px solid #c9df59;
        border-bottom: 13px solid #cce360;
        background-image: linear-gradient(to right, grey, #959e9d, grey, #959e9d, grey, #959e9d, grey, #959e9d, grey, #959e9d, grey, #959e9d, grey, #959e9d, grey);        
    }

    div#faixa img {
        width: 5%;
        position: absolute;
        margin-top: -80px;
        left: 250px;
    }
   
nav#menu ul { 
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 65px;
    left: 300px;
   
}

nav#menu a {
color: black;
text-decoration: none;
text-align-last: auto;
font-weight: 900;

}

nav#menu li {
    color: white;
    display: inline-block;
    background-color: background-image: linear-gradient(to right, grey, #959e9d, grey, #959e9d, grey, #959e9d, grey, #959e9d, grey, #959e9d, grey, #959e9d, grey, #959e9d, grey); ;
    padding: 10px;
    margin: 2px;
    transition: backgroud-color 1s;
}

nav#menu li:hover {
    background-color: rgb(246, 248, 242);     
    font-weight: 900;   
    border-radius: 10%;     
}

#rodape img.icone1 {
    width: 30px;
    position: absolute;
    margin: 50px;
    left:1200px;
    top:30px;      
}

#rodape img.icone2 {
    width: 30px;
    position: absolute;
    margin: 50px;
    left:1150px;    
    top: 30px;
}

#rodape img.icone3 {
    width: 30px;
    position: absolute;
    margin: 50px;
    left:1100px;    
    top: 30px;
}    
section { width: 900;}
 
   
#forms {
    width: 30%;
    padding: 5px 40px 40px 40px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(216, 74, 74); 
}
#forms h2 {
    color: white;
    text-align: left;
    margin-bottom: 40px;
    font-weight: normal;
}

.formulario input {
    display: block;
    width: 100%;
    padding: 5px, 0;
    margin  : 20px 30px;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: solid 1px rgb(216, 74, 74);
    color: white;
    font-size: 15px;
    outline: none;   
}

.formulario input:focus {   
    border: none;
    border-bottom: solid 1px rgb(216, 74, 74);   
    outline: none;    
}

.formulario > div { position: relative;} 

.formulario label {   
    font-size: 16px;
    color: white;
    position: absolute;
    bottom: 15px;
    transition: all 0.3s ease;  
}
.formulario input:focus + label, .formulario input:valid + label {
    font-size: 12px;
    color: rgb(133, 29, 29); 
    bottom: 30px;  
     
}
.formulario input:-webkit-autofill{
    box-shadow: 0 0 0 30px rgba(red, green, blue, alpha);
    -webkit-text-fill-color: #959e9d !important;
}

.formulario button { 
    padding: 8px 40px ;
     background: white;border: none;
     color: black;
     border-radius: 5px;
     margin-top: 15px;
     box-shadow: 0px 0px 10px rgb(216, 74, 74); 
     cursor: pointer;
    }   

.email1 {color: rgb(24, 22, 22); text-decoration-line: none;  }
  
 
.main_footer { 
	background-color:#d97b00; 
	color:black; 
	font-weight:800px; 
}
.main_footer .content { float:left; width:90%; margin:0 5%; padding: 5em 0; }
.container { float:left; width:100%; }

.colfooter { 
   float: left;  
   width: 80%; 
   font-weight: 400; 
  }

.colfooter img.icone1, .icone2, .icone3{ 
    width: 10%;	 	
}

.colfooter a {
    text-transform: uppercase;
    color: #0f0c0c;
  
}

.colfooter a:hover{     
    font-weight: 900;   
   }

.colfooter ul        { 
    width:90%; 
    float:left; 
}

.colfooter ul li     {
     padding:0.2em 0em;
     }

.colfooter ul li a   {
      text-decoration:none;
      color:b; 
      font-size:1em; 
    }
.colfooter ul li a i { 
    font-size:0.5em;
 }

.colfooter ul li a:hover { 
    text-decoration:underline;
 }

.colfooter .titleFooter   { 
	font-family:'open_sansregular'; 
	font-size:1.3em; 
	color:#131111; 
	padding-bottom: 0.5em; 
	margin-bottom:0.5em; 
	border-bottom:1px #494f50 solid;
    text-transform: uppercase;
}
.colfooter p  { 
    font-family:'open_sanslight'; 
    color:rgb(56, 49, 49); 
    font-size:1em; height:px;
    text-transform: uppercase;
 } 

.botao {
  padding: 10px 12px;
  color: #2e0606;
  font-family: 'open_sansregular';
  letter-spacing:2px;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
  margin-right:5px;    
} 

.botao:hover::before, .botao:hover::before{  opacity:1; width: 120%; }
   
   
.botao:hover::after, .botao:hover::after{  opacity:1;  width: 150%; }
   
  
.main_footer_copy { 
    background-color:#01a2c8; 
    width:100%; float:left; 
    text-align:center;
    padding:40px 0em;
    }

.main_footer_copy p { font-family:'open_sanslight'; font-size:1em; color:black; height:20px; }

.main_footer_copy .m-b-footer   { margin-bottom:0.5em; }

.main_footer_copy .by   { font-size:0.96em; }

.main_footer_copy .by a       { color:black; text-decoration:none; }

.main_footer_copy .by a:hover { text-decoration:underline; }

.main_footer_copy .by i { font-size:0.96em; margin-right:3px; color:#e82626; }
/*Responsivo*/
/*768PX BREAKPOINT*/
@media (min-width:48em){
.colfooter  { width:30%; margin-right:5%; margin-bottom:0; }

.colfooter:nth-of-type(3n+0){ margin-right:0; border-right:0;} }

.email1 {
    color: black; text-decoration-line: none; }
    





